[user]
	name = Tom Boyd
	email = tboyd@scitec.com
[diff]
	tool = gvimdiff -f
[core]
	autocrlf = input
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RFXS
[merge]
	conflictstyle = diff3
[color]
	ui = auto
[format]
	pretty = format:%C(yellow)commit %C(auto)%H %d%nParent %P%nTree   %T%nAuthor: %an <%ae>%nDate:   %ad %Cgreen(%ar)%nCommtr: %cn <%ce>%nCDate:  %cd %Cgreen(%cr)%n%n%w(0,4,4)%Cblue%B%n
