[user]
	name = Tom Boyd
	email = tboyd@scitec.com
[diff]
	tool = gvimdiff -f
[core]
	autocrlf = input
	editor = gvim -f
	pager = diff-so-fancy | less --tabs=4 -RFX
[merge]
	conflictstyle = diff3
[color]
	ui = auto
